@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
	font-family: "Montserrat";
	font-size: 1em;
	max-width: 100%;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 1px;
    /*background: transparent;*/  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	width: 1px;
    background: #d5e2c7;
}

/*.scrollbar {
    background-color: #F5F5F5;
    bottom: 0px;
    float: left;
    height: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    overflow-x: scroll;
    z-index: -2;
}

.force-overflow {
    min-width: 450px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 

#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#element::-webkit-scrollbar { 
    display: none; 
}
*/
p {
	line-height: 50%;
	font-size: 0.7em;
	color: #a7a9ac;
	font-weight: 300;
}

h1 {
	font-size: 2em;
	line-height: 60%;
	color: black;
}

h2{
	font-size: 4em;
	line-height: 1%;
    color: #d5e2c7;

}

h3{
	color: #3169b3;
	font-size: 1.8em;
	line-height: 1%;
}

ul li {
	width: 20vw;
	height: 80vh;
	display: inline;
	margin-bottom: 20px; 
	margin-right: 70px;
	margin-left: -2.5vw;
}

ul li a {
	text-decoration: none;
	color: #c2b69c;
}

.header {
/*	position: sticky;
	left: 0px;
	width: 350px;
	height: 98vh;*/
	margin-right: 5vw;
	padding-left: 1vw;
	padding-top: 1vh;
	display: block;
    float: left;
    z-index: 1;
    background-color: white;
}

#header-description{
	margin-top: 32px;
}

#header-name {
	margin-top: 480px;
}

#header-social {
	margin-top: 60px;
	font-size: 0.6em;
}

/*.wrap {
	position: relative;
	top: 110px;
	bottom: 45px;
	white-space: nowrap;
	line-height: 0;
	font-size: 0;
	overflow-x: scroll;
    overflow-y: hidden;
}*/

/*.projects-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}*/

#tag {
	position: absolute;
    bottom: 230px;
    color: #d5e2c7;
	font-size: 0.7em;
	font-weight: 300;
}

#project-description {
	position: absolute;
    bottom: 80px;
}

#project-name {
	position: absolute;
    top: 400px;
}

#date {
	position: absolute;
    bottom: 25px;
    color: #c2b69c;
	font-size: 0.7em;
}

#expand {
	top: 0px;
	bottom: 0px;
	width: 28vw;
	height:96vh;
    display: inline-block;
/*    float: left;*/
    border-left: 0.25px;
    padding-left: 20px;
    border-left: solid 1px #d5e2c7;
    background: white;
    position: absolute;
    margin-bottom: 4px;
    z-index: -1;
}

.thumb {
	width: 100%;
	height: 80vh;
	display: inline;
	position: static;
}



img {
	height: 96vh;
	margin-bottom: 4.8px;
	position: static;
	display: inline-block;
	z-index: 0;
}

/*//////////////////////////*/

#item4 {
	padding-right: 0px;
	transition: transform 0.2s, padding-right 0.2s;
}

#item4:hover {
	transform: translate(17vw);
	padding-right: 17vw;
}

/*//////////////////////////*/

#item3 {
	transition: transform 0.2s, padding-right 0.2s;
}

#item3:hover {
	transform: translate(17vw);
	padding-right: 17vw;
}

/*//////////////////////////*/

#item2 {
	transition: transform 0.1s, padding-right 0.2s;
}

#item2:hover {
	transform: translate(17vw);
	padding-right: 17vw;
}

/*//////////////////////////*/

#item1 {
	transition: transform 0.1s, padding-right 0.2s;
}

#item1:hover {
	transform: translate(17vw);
	padding-right: 1vw;
}

/*span:hover + #expand {
    display: inline-block;
}*/


/*#no4 {
	width: 2%;
	height: 80vh;
	display: inline;
	position: static;
	overflow-x: hidden;
	transition-duration: 1s;
}

#no4:hover {
	transition: width 100%;
}*/

/*span {
	width: 10vw;
	height:100vh;
	transition: width 2s;
    -webkit-transition: width 2s;
}*/

/*span {
	width: 2%;
	display: inline-block;
	position: static;
	overflow-x: hidden;
}*/
